<ion-header [translucent]="condense">
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Página de inicio de sesión</strong> 
    <ion-button [routerLink]="['/split-pane/tabs-manager']">login</ion-button>
  </div>
</ion-content>