<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>AQUI ES EL HOME</strong> 
    <ion-button [routerLink]="['/split-pane/tabs-manager']">show split pane</ion-button>
  </div>
</ion-content>