<ion-header>
  <ion-toolbar>
    <ion-title>tab1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>página de tabs</strong> 
    <ion-button [routerLink]="['/homepage']">home</ion-button>
  </div>
</ion-content>