<ion-split-pane contentId="content">
  <ion-menu contentId="content">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Bienvenido Usuario
          </ion-title>
        </ion-toolbar>
        
      </ion-header>
      <ion-content>
        <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
              <ion-item [routerLink]="p.url" router-direction="root" [class.active-item]="selectedPath.startsWith(p.url)">
                <ion-label> {{p.title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-item tappable routerLink="/login" routerDirections="root">
              <ion-icon name="log-out" slot="start">
                Logout
              </ion-icon>
            </ion-item>
        </ion-list>
      </ion-content>
  </ion-menu>
</ion-split-pane>